#canvas {
    max-width: 133vh;
    width: 100%;
    position: relative;
    .ui-sprite {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        &.background {
            width: 100%;
            img {
                width: 100%;                
            }
        }
        &.highlight {
            img {
                outline: 1pt solid red;
            }
        }
        img {
            // &:hover {
            //     outline: 1pt solid green;
                
            // }
            position: relative;
            z-index: 10;
            display: inline-block;
            vertical-align: bottom;
        }
    }

}