#canvas {
    max-width: 133vh;
    width: 100%;
    position: relative;
    .ui-sprite {
        position: absolute;
        height: 0;
        width: 0;
        left: 50%;
        top: 50%;
        z-index: 0;
        &.background {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &.highlight {
            img {
                outline: 1pt solid red;
            }
        }
        img {
            display: inline-block;
            vertical-align: bottom;
        }
    }
}